*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1da1f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container-principal{
    width: 45%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.usuario{
    display: flex;
    width: 100%;
    gap: 10px;
}

.usuario-imagen{
    width:10%;

}
.usuario-nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 90%;
}

.text{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;

}

.text-fecha{
    font-size: 14px;
    font-weight: lighter;
}

.linea{
    border: none;
  border-bottom: 1px solid #e9e7e7;
  margin: 18px 0px;  
}

.contenedor-compartir{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.retweets-likes{
    display: flex;
    gap: 10px;
}
 
.num-tw{
    font-weight: bold;
    margin-right: 5px;
}
.text-rt{
    font-size: 13px;
}
.share-botones{
    display: flex;
    gap: 12px;
    font-size: 14px;
}

button{
    all: unset;
    cursor: pointer;
}
