*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(76, 121, 255);
    font-family: Arial, sans-serif;
}
.container-padre{
    background-color: white;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 200px;
    border-radius: 5px;
    padding: 10px;
}
.section-header{
    display: flex;
    align-items: center;
}
img{
    width: 50px;
    border-radius: 10px;
}
.section-main{
    margin: 10px 0px;
    font-size: 14px;
}
.span-p{
    font-size: 10px;
    color: gray;
}
.section-footer{
    display: flex;
    justify-content: space-between;
}
.divider {
        margin: 20px 0;
        border-style: solid;
        opacity: 0.1;
    }
.rt-likes{
    display: flex;
}
