*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 30px;   
    box-shadow: 4px 7px 10px 1px rgb(0 0 0 / 28%);

}

.container-red{
    background-color: #cb2140;
    height: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    user-select: none;
}

img{
    width: 40%;
}

.container-blue{
    display: flex;
     gap: 17px;
     flex-direction: column;
    background-color: #0c1f2c;
    color: white;
    padding: 33px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    width: 100%;
}
h2{
    text-align: center;
    font-size:43px;
}
.container-burbujas{
    display: flex;
    justify-content: center;
}
.btn-burbujas{
    border: 1px solid red;
    background-color: #0c1f2c;
    border-radius: 15px;
    padding: 10px;
    margin: 8px;
    color: white;
    font-size: 8px;
    cursor: pointer;
    font-weight: lighter;
}

.btn-burbujas:hover{
    transform: scale(1.05);
}
h5{
    font-size: 12px;
}
p{
    font-size: 12px;
    text-align: center;
}
.btn-red{
    background-color: #cb2140;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    color: white;
    border: 1px solid #cb2140;
    cursor: pointer;
}
.btn-red:hover{
    background-color: white;
    color: #cb2140;
    transform: scale(1.05);
}