@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Kalam&family=Literata:ital,opsz,wght@1,7..72,200&family=PT+Sans+Caption&family=Rowdies:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(141, 231, 168);
    display: flex;
    justify-content: center;    
    align-items: center;    
    height: 100vh;
}

.contenedor{
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 350px;
    
}
.contenedor-hijo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    margin: 10px;
}

h1{
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin: 10px 0px;
    color: gray;
}

.frutas{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px ;
    text-align: center;
     display: flex; 
     
        flex-direction: column;
        gap: 10px;
        align-items: center;
}
.caja-fruta{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
    width: 72%;
    border: 1px solid rgb(184, 184, 184);
    
}