*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
}
.container{
    margin: auto;
    margin-top: 20%;
    display: flex;
}

.dado{
     display: flex;
      align-items: center;
       width: 70px;
    height: 70px; padding: 10px;
    background-color: aliceblue;
        border-radius: 5px;
        border: 1px solid black;
        justify-content: space-between;
        flex-direction: column;
        margin: 10px;
       
        box-sizing: border-box;
}
.dado1{
    justify-content: center;
}
.dado2 {
       
        flex-direction: column;
        justify-content: space-between;
        /* justify-content: center; */
    
    }

.punto1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
     
}

.fila{
    width: 100%;
    display: flex;
   
}
.dado2 .fila:nth-child(1) {
        justify-content: flex-start;
    }
.dado2 .fila:nth-child(2){
    justify-content: flex-end;
}
.dado3{
    flex-direction: column;
}
.dado3 .fila:nth-child(1){
    justify-content: flex-end;
}
.dado3 .fila:nth-child(2){
    justify-content: center;
}
.dado3 .fila:nth-child(3){
    justify-content: flex-start;
}
/* .dado4{
    flex-direction: column;
   
   
} */
.dado4 .fila{
    justify-content: space-between;
}
.dado5 .fila{
    justify-content: space-around;
}
.dado6 .fila{
    justify-content: space-between;
}