*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container-padre{
   
}  */
.contenedor-hijo{
    display: flex;
    height: 50vh;
   
}
.section-header{
    background-color: rgb(129, 113, 144);
    height: 20vh; 
}
.section-nav{
    background-color: blueviolet;
    height: 10vh;
}
.section-panel{
    background-color: rgb(255, 145, 0);
    width: 20vw;

   

}
.section-main{ 
    background-color: rgb(255, 255, 255);
    width: 80vw;
    
}

.section-footer{
    background-color: rgb(147, 62, 155);
    height: 25vh;
}