*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 58%;
    padding: 65px 55px 0px 55px;
    background-color: white;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}
h1{
    margin-bottom: 15px;
    font-weight:800;
    font-size: 35px;
}

.container-burbujas{
    margin-bottom: 20px;
}
.btn{
    all: unset;
    color: gray;
     padding: 10px;
     border-radius: 5px;

}
.btn:hover{
    background-color: #333333;
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   
}
.contenedores{
    border-bottom: 1px solid rgb(194, 194, 194);

}

span{
     font-size: 14px;
     color: gray;
}
.span-red{
    color: rgb(214, 66, 66);
    margin-right: 10px;
}

h3{
    margin: 15px 0px 15px 0px;
    font-size: 25px;
}

.text-p{
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 34px;
    display: block;
}