*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0acfcb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: white;
    width: 440px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 26, 255, 0.1);
}

.container-uno{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
h2{
    font-size:18px;
}
button{
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(175, 175, 175);
    padding: 5px 17px;
    border-radius: 3px;
    color: gray;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-dos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h4{
    font-size: 14px;
    margin-bottom: 6px;
}

.container-hijo-rosa {
    border: 0.1px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 20px;
    border-left: 3px solid rgb(248, 13, 170);
}

.container-hijo-violeta{
    border: 0.1px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 20px;
    border-left: 3px solid rgb(232, 142, 240);
}

.container-hijo-naranja{
    border: 0.1px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 20px;
    border-left: 3px solid rgb(248, 87, 13);
}

p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
}

