*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3278ba;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    margin: 15px;
    font-size: 22px;
}
.container{
    background-color: #e3e5e6;
    width: 330px;
    margin: 15px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h3{
    font-size: 16px;
    margin: 5px 0px 5px 3px;
}


.options-text{
    padding: 8px 5px 8px 5px;
    margin: 0px 0px 5px 0px;
    background-color: white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.text-final{
    color: gray;
    font-weight: lighter
    ;
}