*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-padre{
    padding: 40px;
    margin: 20px;
}
h1{
    font-size: 30px;
}
.text{
    text-align: center;
    padding: 10px;
}
.row{
    display: flex;
    flex-direction: row;
    display: flex;
    padding: 20px 0px;
    flex-direction: row;
}
.icono{
    width: 40px;
    justify-items: center;
}
.caja-titulo{
    font-size: 12px;
    padding: 20px;
    display: flex;
}
p{
    text-transform: capitalize;
}
h2, p{
    padding: 5px;
}