* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcbcea;
 color: rgb(51, 51, 51);
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transform-origin: top center;
}

.titulo {
  margin: 35px 0px;
  color: rgb(73, 73, 73);
  font-weight: bolder;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;

  text-align: center;
}
.contenedor-primera-franja {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.primer-bloque {
  display: grid;
  grid-template-columns: repeat(2, 60px);
  grid-template-rows: repeat(3, 60px);
}

.caja-estilo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  border: 3px solid rgb(255, 255, 255);
}
.caja-estilo:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;

  transform: scale(1.3);
  transition: 0.1s;
}
.tittle {
  font-size: 16px;
  font-weight: bold;
}

.text-tittle {
  font-size: 8px;
  font-weight: bolder;
}
.img-kitty {
  width: 190px;
  height: auto;
}
.img-kitty:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.segundo-bloque-derecho {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(3, 60px);
}

.contenedor-franja-central {
  display: grid;
  grid-template-columns: repeat(18, 60px);
  grid-template-rows: repeat(4, 60px);
}

.franja-final {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contenedor-actinidos {
  display: grid;
  grid-template-columns: repeat(15, 60px);
  grid-template-rows: repeat(1, 60px);
}

.contenedor-lantanidos {
  display: grid;
  grid-template-columns: repeat(15, 60px);
  grid-template-rows: repeat(1, 60px);
}
.tittle-final {
  margin: 10px;
}

@media (max-width: 600px) {
    .contenedor {
        transform: scale(0.5);

    }
}