.arb{   
    font-size: 80px;

}
.arb1{
    font-size: 11px;
}
.arb2{
    font-size: 45px;
}
.arb3{
    font-size: 33px;
}
.arb5{
    font-size: 50px;
}
.arb4{
    font-size:10px;
}
.casa{
    font-size: 70px;
}