body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1,h2,h3{
    font-size: 20px;
}
.pen{
    background-color: blue;
    color: aliceblue;
}
.hac{
    background-color: orange;
}
.roj{
    background-color: red;
}
.ver{
    background-color: green;
}