html{
    font-family: 'Courier New', Courier, monospace  ;
}

h3,a{
    font-size: 17px;
    text-decoration: none;
    color: fuchsia;
}
h2{
    font-size: 30px;
}
span{
    background-color: rgb(211, 211, 211);
}
.fecha{
    font-size: 14px;
    color: rgb(124, 124, 124);
}

