*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c8cbf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor-principal{
    display: flex;
    background-color: #1a1832;
    width: 400px;
    padding: 6px 20px 36px 20px;
    border-radius: 7px;
}
.contenido-general{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.contenido-cruz{
    display: flex;
    justify-content: flex-end;
}
.contenido-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cruz{
    color: gray;
    font-size: 25px;
    cursor: pointer;
}
.titulo{
    color: white;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 30px;
}

.contenedor-centro{
    background-color: #282547 ;
    width: 90%;
    padding: 20px;
    border-radius: 2px;
}
.titulo-contenedor-central{
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 7px;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  gap: 23px;
}
.rating span {
  color: #ccc; /* estrella apagada */
  transition: color 0.2s;
}

.rating span:hover,
.rating span:hover ~ span {
  color: gold; /* estrellas encendidas */
}
.very-excelente{
     display: flex;
  justify-content: space-around; /* separa los elementos con espacio en los lados */
  align-items: center;
    color: #56527d;
    font-size: 12px;
    margin-top: 10px;

}

button{
    background: linear-gradient(135deg, #7a3cff, #5a00c7); /* degradado diagonal */
    padding: 10px 40px;
    margin-top: 28px;
    border: none;
    border-radius: 3px;
    font-size: 11px;
    color: aliceblue;
    cursor: pointer;
}

a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
    margin-top: 24px;
}