*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F5F9FE;
    font-family: Arial, Helvetica, sans-serif;
    color: #39385C;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 380px;
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: white;
    border-radius: 10px;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo{
    font-size: 1.3em;
    margin-bottom: 10px;
}

.total-star{
    background-color: rgb(245,249,254);
    padding: 5px 15px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.text-span-titulo{
    font-size: 0.8em;
}

.span-rating{
    font-size: 0.7em;
    margin-bottom: 40px;
   
}

.contenedor-barras{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.barra-star{
    display: flex;
    align-items: center;
    margin: 6px 0;
    
}

.color-span1{
    color: #547CE0;
}

.progreso{
    background-color: #c9c7c7;
    border-radius: 15px;
    width: 200px;
    height: 15px;
    margin: 0 10px;
    
}

.barra{
    background-color: rgb(247, 210, 0);
    height: 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgb(255 217 2 / 35%);


}
.progreso .cinco{
    width: 84%;
}

.progreso .cuatro{
    width:24%;
}

.progreso .tres{
    width: 15%;
}

.progreso .dos{
    width: 10%;
}
.progreso .uno{
    width: 5%;
}

