*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container-padre{
    width: 100%;
} */
.section1{
    background-color: rgb(129, 113, 144);
    height: 25vh; 
}
.section-nav{
    background-color: pink;
    height: 5vh;
}
.section2{
    background-color: rgb(255, 255, 255);
    height: 45vh;
}
.section3{
    background-color: rgb(147, 62, 155);
    height: 25vh;
}