*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #616264;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    background-color: white;
    text-align: center;
    padding: 15px 25px;
    border-radius: 5px;
    width:430px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}
.close-btn{
    width: 20px;
position: relative;
    left: 50%;
cursor: pointer;
border: none;
background-color: transparent;
}


h4{
    margin-top: 25px;
    color: #333333;
    margin-bottom: 10px;
}

 .text-one   {
    font-size: 10px;
    color: #444444;
    margin-bottom: 35px;
    min-width: 253px;
  
}
.btn{
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;}


.btn a{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    width: 85px;
    height: 30px;
    font-size: 12px;
    border-radius: 3px;
    justify-content: center;
}
.btn img{
    width: 22px;
    
}

.facebook{
    display: flex;
    background-color: #4d6fa9;
}

.facebook img{
    width: 16px;
}
.twitter{
    background-color: #00b2ef;
}
.reddit{
    background-color: #FF4500;
}  

span{
    font-size: 12px;
    color: #444444;

}
strong{
    color:#353535;
}

.text-final{
    font-size: 12px;
    color: rgb(255, 93, 93);
    margin-top: 35px;
    margin-bottom: 25px;

    
}

@media (max-width: 600px) {
    .contenedor{
        width: 330px;

    }
}