*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #161e2e;
  padding: 15px 40px;
}



.parrafo-titulo{
    margin: 20px 0px;
    font-size: 14px;
    color: rgb(155, 155, 155);
}

.contenedor-servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 39px 92px;
}
.servicio{
    margin: 15px 0px;
}
img{
    margin-bottom: 20px;
}

h4{
    margin-bottom: 22px ;
    font-size: 18px;
}
.text{
    font-size: 13px;
    color: #6b7280;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}