*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d3d3d3 ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    user-select: none;
}
.dado{
    width:90px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}
.punto{
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
}
.dado-uno{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.dado-dos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}
.punto2-uno { grid-area: 1 / 1; }
.punto2-dos { grid-area: 2 / 2; }

.dado-tres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    padding: 8px
}

.punto3-uno { grid-area:1 / 3; }
.punto3-dos { grid-area: 2 / 2; }
.punto3-tres { grid-area: 3/ 1; }

.dado-cuatro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    padding: 2px;
}
.punto4-uno { grid-area:1 / 1; }
.punto4-dos { grid-area:1 / 2; }
.punto4-tres { grid-area: 2/ 2; }
.punto4-cuatro { grid-area: 2/ 1; }

.dado-cinco{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    padding: 8px;
}
.punto5-uno { grid-area:1 / 1; }
.punto5-dos { grid-area:1 / 3; }
.punto5-tres { grid-area: 2/ 2; }
.punto5-cuatro { grid-area: 3/ 1; }
.punto5-cinco { grid-area: 3/ 3; }


.dado-seis{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    padding: 4px;
}
.punto6-uno { grid-area:1 / 1; }
.punto6-dos { grid-area:1 / 2; }
.punto6-tres { grid-area: 2/ 1; }
.punto6-cuatro { grid-area: 2/ 2; }
.punto6-cinco { grid-area: 3/ 1; }
.punto6-seis { grid-area: 3/ 2; }



