*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .container-padre{
    width: 100%;
    height: 500px;
    border: black;
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
} 
.caja-hija{
    background-color: rgb(215, 129, 98);
    width: 100px;
    height: 100px;
    border: black;
    border-style: solid;
}