* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #e7e8ec;
  color: #2f3144;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  caret-color: transparent;
}

.contenedor-principal {
  background-color: white;
  width: 75%;
  margin-top: 30px;
  padding: 46px 49px;
  border-radius: 10px;
}
.text-tittle {
  width: 50%;
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 700;
}

.contenedor-secundario {
  display: flex;
  padding: 0px 0px 38px 0px;
}

.contenedor-cuatro {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.Collections {
  display: flex;
  display: flex;
  /* height: 41%; */
  padding: 13px 19px;
  /* width: 100%; */
  flex-direction: column;
  justify-content: center;
}

.Collections:hover {
  background-color: #ffbc00;
  cursor: pointer;
  border-radius: 10px;
}

.text-p {
  font-size: 14px;
  width: 97%;
}

.contenedor-from {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  padding: 10px;
  text-align: start;
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-from h4 {
  margin-bottom: 15px;
  margin-top: 21px;
  padding: 0px 20px;
}

.usuario {
  padding: 10px 20px;
  border-radius: 8px;
}
.usuario span {
  font-size: 13px;
  color: #e09f24;
  font-weight: 600;
}
.usuario:hover {
  cursor: pointer;

  background-color: #f1f2f7;
}
.img-collections {
  border-radius: 70px;
  margin-bottom: 12px;
  width: 3.3rem;
}

.title-secundario {
  margin-bottom: 11px;
  font-size: 17px;
}

.p-from {
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .contenedor-secundario {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  body {
    height: auto;
  }
}

@media (max-width: 600px) {
  .contenedor-cuatro {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .contenedor-from {
    width: 100%;
    margin-top: 20px;
  }
}
