*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E9EDF3;
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenido{
   display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.text-burbuja{
    background-color: black;
    color: #c3c3c3;
    padding: 7px 11px;
    border-radius: 20px;
    font-size: 11px;
    margin-bottom: 30px;
}

.titulo{
      color: #0C1327;
    margin-bottom: 28px;
}

.caja-palette{
    display: flex;
    gap: 15px;
    margin-bottom:45px;
    
}
.palette{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 110px;
    padding: 8px 0;
    border-radius: 8px;
}
.palette:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transform: translateY(-7px);
}
.color{
    width: 100px;
    height: 150px;
    border-radius: 5px;

}

.color-nombre{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
}

.btn{
    background-color: #7F6DCA;
    padding: 10px 50px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;

}
.btn:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(-2px);
}
.spacebar{
    font-size: 12px;
    margin-bottom: 20px;
}

.enlace{
    background-color: white;
    text-decoration: none;
    font-size: 10px;
    color: #7e7e7e;
    margin-top: 25px;
    padding: 6px 15px;
    border-radius: 15px;

}