*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenedor-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;      
    max-width: 1200px; 
    margin: 50px auto;
}

.tittle{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.parrafo-tittle{
    font-size: 14px;
    margin-bottom: 14px;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.contenedor-info{
    display: flex;
    flex-direction: column;
    background-color: #434343;
    text-align: center;
    border: 1px solid #8e8e8e;
    border-radius: 10px;
   width: 350px;
    padding: 30px 25px;
}

h3{
    margin-bottom: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size:28px;
}

.precio{
    font-size: 40px;
}

.text-small{
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 15px;
}
ul {
  list-style: none;
  text-align: start;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.5;
}
button{
    background-color: #cdcdcd ;
    color: #21759b;
    border: none;
    border-radius: 5px;
    padding: 12px 0px;
    cursor: pointer;
}
.btn-izq{
        margin-top: 119px;
}
.btn-center{
        margin-top: 65px;
}
.btn-der{
    margin-top: 38px;
}

.contenedor-info:hover {
    filter: brightness(1.15); 
    transition: 0.3s;
}