*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box; 
}
html{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;  
    background-color: rgb(182, 182, 182)
}

.container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    justify-content: space-around;
}

.texto{
    font-size: 14px;
}
 span{
    font-size: 3em;
}

span, h1, p{
    margin-bottom: 8px;
}

h1{
    color: rgb(36, 36, 141);
    font-size: 1.4em;
}
p, a{
    text-decoration: none;
}
a{
    color: #9b84ff;
}
button{
    color: white;
    background-color: rgb(38, 73, 190);
    padding: 10px 0px;
    font-weight: lighter;
    border-radius: 3px;
    width: 50%;
    margin-top: 12px;
}
   