*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(221, 211, 230);
}
.container{
    width: 429px;
    background-color: white;
    padding: 67px 59px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 1%);
}

h2{
    font-size:20px;
    margin-bottom: 25px;
    text-align: center;
  font-family: monospace;
}
.container-precios{
    display: flex;
    margin: 10px 0px;
    justify-content: space-evenly;

}
.precios{
    display: flex;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(196, 196, 196);
   padding: 15px 22px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(110, 110, 110);
    
}

.precios:hover{
    background-color:#7563f6;
    transform: scale(1.05);
    color: white;
}
button{
    padding: 14px 20px;
    color: white;
    background-color:#7563f6;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 0cap;
    font-weight: 600;
    border-radius: 3px;
     box-shadow: 2px 2px 2px 2px rgba(140, 0, 255, 0.01);

}

.btn:hover {
  background-color: #7680b1;
  transform: scale(1.05);
}