*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #e6e8f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #2c3552;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: white;
    width: 330px;
    padding: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 2%);
}

img{
    width: 80px;
}

h2{
    font-size:20px;
}

.text-email{
    font-size: 16px;
    font-weight: bold;
}

.text-use{
    text-align: center;
    font-size: 13px;
    margin: 15px 10px 15px 10px;
}

.container-recovery{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    background-color: #f7f8fc;
    border-radius: 5px;
    padding: 20px 60px 25px 60px;
}
h4{
    font-size: 17px;
}
.text-email-2{
    font-size: 14px;
    margin-bottom: 15px;
}
.btn-up{
    background-color: white;
    padding: 5px 15px 5px 15px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    color: rgb(156, 156, 156);
    font-weight: bold;
    cursor: pointer;
}

.btn{
    background-color: #242e4c;
    padding: 6px 40px 6px 40px;
    border-radius: 16px;
    color: rgb(175, 175, 175);
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: cornflowerblue;
    transform: scale(1.05);
    color: #2c3552;
}